:root {
  --primary-black: #212121;
  --secondary-blue: #2196f3;
  --third-grey: #757575;
  --background: #2f303a;
  --social-icons: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-black);
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
}
.container-portfolio {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
}
.logo span {
  color: var(--secondary-blue);
}
.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-black);
}
.underline {
  width: 53px;
  height: 4px;
  background-color: var(--primary-black);
  border-radius: 2px;
  position: relative;
  top: 17px;
  opacity: 0;
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover .underline,
.header-link:focus .underline {
  background-color: var(--secondary-blue);
  opacity: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-blue);
  text-decoration: none;
}
.header-contact-element {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-grey);
  fill: var(--third-grey);
}
.header-contact-element span {
  margin-left: 10px;
}
.header-contact-element:hover,
.header-contact-element:focus {
  color: var(--secondary-blue);
  fill: var(--secondary-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.nav-button {
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  margin-left: 3px;
  margin-right: 3px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--secondary-blue);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.img-description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-grey);
}
.section {
  padding-top: 94px;
}
/* header*/
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: center;
}

.navigator-container {
  display: flex;
  align-items: center;
  gap: 47px;
  list-style: none;
  margin-left: 93px;
  padding: 0;
}
.contact-container {
  margin-left: 371px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  padding: 0;
  align-items: center;
}

/* main header */
.main-header-box {
  height: 600px;
  background: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-box-background.jpg");
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header-box h1 {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-header-box button {
  width: 200px;
  height: 50px;
  background: var(--secondary-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.main-header-box button:hover {
  cursor: pointer;
}
/* main content */
.first-section {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-grey);
  gap: 30px;
  margin: 0;
}
.first-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-black);
}
.first-section li {
  width: 270px;
}
.second-section {
  padding-left: 0;
}
.second-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-bottom: 50px;
  margin-top: 0;
}
.second-section-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.third-section {
  padding-left: 0;
  background-color: #f5f4fa;
}
.third-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-bottom: 50px;
  margin-top: 0;
}
.third-section-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-grey);
  gap: 30px;
}
.third-section-team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
.figure-box {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}
.footer-container {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer-information {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-information a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-information .studio {
  color: white;
}
.footer-logo-container {
  margin-bottom: 20px;
}
.container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 94px;
}
.container-images figure {
  margin: 0;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.container-images figure:hover,
figure:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-images figcaption {
  padding-left: 24px;
}
.container-images .img-title {
  padding-bottom: 4px;
  padding-top: 20px;
  margin: 0;
}
.container-images .img-description {
  padding-bottom: 20px;
  margin: 0;
}
.icon {
  fill: var(--third-grey);
}

.icon-first-section {
  width: 270px;
  margin-bottom: 30px;
}
.third-section-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.social-button {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: none;
  border: none;
  fill: var(--social-icons);
  display: inline-block;
}
.social-button:hover,
.social-button:focus {
  fill: white;
  background-color: var(--secondary-blue);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-section {
  padding-left: 0;
}
.fourth-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-bottom: 50px;
  margin-top: 0;
}
.client-button {
  width: 170px;
  height: 92px;
  background-color: white;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 5%;
  fill: var(--social-icons);
}
.fourth-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  list-style: none;
  margin: 0;
  padding-bottom: 94px;
}
.client-button:hover,
.client-button:focus {
  fill: var(--secondary-blue);
  border-color: var(--secondary-blue);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.join-us-icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.join-us-container p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.join-us-social-button {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  fill: white;
  display: inline-block;
}
.join-us-social-button:hover,
.join-us-social-button:focus {
  background-color: var(--secondary-blue);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* OKNO MODALNE */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.modal-window {
  height: 581px;
  width: 528px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.close-window-x {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
  padding: 0;
}
.close-window-x svg {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.close-window-x:hover,
.close-window-x:focus {
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.overlay-text {
  width: 370px;
  height: 70px;
  position: relative;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutusimg-container {
  width: 370px;
  height: 294px;
}
.aboutusimg-container img {
  width: 370px;
  height: 294px;
  display: block;
  float: up;
}
.overlay-text span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio-image-overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-image-overlay span {
  width: 301px;
  height: 196px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio-image img {
  display: block;
  float: up;
}
.portfolio-image:hover .portfolio-image-overlay,
.portfolio-image:focus .portfolio-image-overlay {
  transform: translateY(-100%);
  opacity: 1;
  visibility: visible;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.newsletterSignup {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.signup-newsletter-container p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.signup-newsletter-form {
  display: flex;
  align-items: flex-end;
}
.email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 12px;
}
.signup-newsletter-button {
  background: var(--secondary-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.order-form-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-form-containter li {
  margin-bottom: 10px;
  margin-top: 0;
}

.order-form-containter h2 {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.rules-accept-box {
  list-style: none;
  margin-top: 0;
}
.rules-accept-box p {
  margin-bottom: 4px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.rules-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
}
.rules-checkbox:checked {
  appearance: none;
  width: 16px;
  height: 15px;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-button {
  background: var(--secondary-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
}
.order-info {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: black;
  padding-left: 30px;
}

.order-info-textarea {
  resize: none;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: black;
}
.rules-highlight {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
.rules-information {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.order-info-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.icon-person-black {
  position: relative;
  right: 440px;
  top: 5px;
}
.order-info:focus {
  outline: none;
  border: 1px solid var(--secondary-blue);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-info:focus + .icon-person-black {
  fill: var(--secondary-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-info-textarea:focus {
  outline: none;
  border: 1px solid var(--secondary-blue);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
