@import "../sass/utils/vars";
@import "../sass/components/footer";
@import "../sass/components/header";
@import "../sass/components/logo";
@import "../sass/components/mainpageheader";
@import "../sass/components/mainfirstsection";
@import "../sass/components/mainsecondsection";
@import "../sass/components/mainthirdsection";
@import "../sass/components/mainfourthsection";
@import "../sass/components/modalwindow";
@import "../sass/components/portfolio";
@import "../sass/components/headermobile";

body {
  font-family: "Roboto", sans-serif;
  color: $primary-black;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
}
.section {
  padding-top: 94px;
}
