/* Fourth section */
.fourth-section {
  padding-left: 0;
  @media screen and (max-width: 767px) {
    max-width: 480px;
    margin: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 768px;
    margin: auto;
  }

  .fourth-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-black;
    margin-bottom: 50px;
    margin-top: 0;
    @media screen and (max-width: 767px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 30px;
    }
  }

  .fourth-section__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin: 0;
    padding-bottom: 94px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin: auto;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-wrap: wrap;
      margin: auto;
      padding-bottom: 60px;
    }
  }
  .fourth-section__button {
    width: 170px;
    height: 92px;
    background-color: white;
    padding: 0;
    border: 1px solid #afb1b8;
    border-radius: 5%;
    fill: $social-icons;
    @media screen and (max-width: 767px) {
      width: 210px;
      height: 92px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 226px;
      height: 92px;
    }
  }
  .fourth-section__button:hover,
  .fourth-section__button:focus {
    fill: $secondary-blue;
    border-color: $secondary-blue;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
